.env
*.sock
__pycache__/
flask
notes
tutorial_references
secret_info.py
list_test.py
questions.tsv
report_template.txt
report_sample.txt
sbt_notes_access.json
oauth_test
test.py
*.pyc
docs
data_uploader.py
notes_app.sql
run.py
sql_dump
.vscode
eval_text_script.py
