<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
  <h1 class="title is-3">{{type.regional_center.name}} </h1>
  <h3 class="subtitle">{{type.name}}</h3>
  <form class="form" action="/appt_type?center_id={{ center_id }}&appt_type_id={{type.id}}" method="post" name="appt_type">
    {{ form.hidden_tag() }}
    <div class='field is-horizontal'>
      <div class="field-label">
        <label class="label">Appt Type:</label>
      </div>
      <div class="field-body">
        <div class="field">
         <p class="control">
           {{ form.name }}
         </p>
       </div>
     </div>
   </div>
    <div class='field is-horizontal'>
      <div class="field-label">
        <label class="label">Service Code:</label>
      </div>
      <div class="field-body">
        <div class="field">
         <p class="control">
           {{ form.service_code }}
         </p>
       </div>
     </div>
   </div>
    <div class='field is-horizontal'>
      <div class="field-label">
        <label class="label">Service Type Code:</label>
      </div>
      <div class="field-body">
        <div class="field">
         <p class="control">
           {{ form.service_type_code }}
         </p>
       </div>
     </div>
   </div>
    <div class='field is-horizontal'>
      <div class="field-label">
        <label class="label">Rate:</label>
      </div>
      <div class="field-body">
        <div class="field">
         <p class="control">
           {{ form.rate }}
         </p>
       </div>
     </div>
   </div>

      <input class="button is-primary"  type="submit" value="Submit" />
      <button type="button" class="button is-light" onclick="location.href='/appt_types?center_id={{center_id}}'">Cancel</button>
  </form>

{% endblock %}
