<html>
  <head>
    <title>Welcome to Notes@SBT</title>
  </head>
  <body>
    <div><a href="/user/tasklist">To Do List</a></div>
    <div><a href="/clients">Clients</a></div>
    <div><a href="/users">Users</a></a></div>
    <div><a href="/billing">Billing</a></div>
    <div><a href="/logout">Logout</a></a></div>
    <hr />
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
          <li>
            {{ message }}
          </li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    {% block content %} {% endblock %}
  </body>
</html>
