<html>
  <head>
    <title>Welcome to Notes@SBT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/bulma.css">
  </head>
  <body>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
          <li>
            {{ message }}
          </li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    {% block content %} {% endblock %}
  </body>
</html>
