<html>
  <head>
    <title>Welcome to Notes@SBT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/bulma.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script>
      $(document).ready(function() {
        $(".navbar-burger").click(function() {
          $(".navbar-burger").toggleClass('is-active')
          $(".navbar-menu").toggleClass('is-active')
        })
      })
    </script>
  </head>
  <body>
    <div class="container">
    <div class="navbar">
      <div class="navbar-brand">
          <a class="navbar-item" href="http://sarahbryantherapy.com">
            <img src="/static/img/SBTLogo.png" alt="Notes@SBT"/>
          </a>
          <div class="navbar-burger burger" data-target="main-nav">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

      <div class="navbar-menu" id="main-nav">
        {% if current_user.role_id <=  3%}
        <a  class="navbar-item" href="/user/tasklist">To Do List</a>
        {% endif %}
        <a class="navbar-item" href="/clients">Clients</a>
        {% if current_user.role_id < 3 %}
            {% if current_user.role_id == 1 %}
              <a class="navbar-item" href="/companies">Companies</a>
            {% else %}
              <a class="navbar-item" href="/companies?company_id={{current_user.company_id}}">Company</a>
            {% endif %}
        {% else %}
          <a class="navbar-item" href="/user/profile?user_id={{current_user.id}}">Profile</a>
          {% if current_user.role_id <= 3%}
            <a class="navbar-item" href="/user/appts?user_id={{current_user.id}}">Payments</a>
          {% endif %}
        {% endif %}
        <a class="navbar-item" href="/logout">Logout</a>
      </div>
  </div>
    <hr style="margin:.25rem 0 1rem 0" />
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="notification is-primary">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

        {% block content %} {% endblock %}
      </div>
  </body>
</html>
