<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
  <h1 class="title">Unbilled Appts</h1>

      <form action="" method="post" name="unbilled_appts">
        {% for rc in rcs %}
        <h3 class="title is-3">{{rc.name}}
          <button type="button" class="button is-small is-primary" onclick="location.href='/billing/invoices?center_id={{rc.id}}'">View Invoices</button>
          {% if rc.name in unbilled_appts %}
          <button type="button" class="button is-small is-primary is-outlined" onclick="location.href='/billing/monthly?center_id={{rc.id}}'">Create Monthly Invoice</button>
          {% endif %}
        </h3>
          {% if rc.name in unbilled_appts %}
              {% for billing_month in unbilled_appts[rc.name].keys()|sort %}
                <h4 class="title is-5">{{unbilled_appts[rc.name][billing_month]['date']}}</h4>
                {% for client_id in unbilled_appts[rc.name][billing_month]['clients'].keys()|sort %}
                <div class="field">
                  <div class="control">
                    <div class="checkbox">
                      <input type="checkbox" name="{{client_id.split(':')[1]}}" value="{{ ','.join(unbilled_appts[rc.name][billing_month]['clients'][client_id]['appts']) }}"/>
                      {% if unbilled_appts[rc.name][billing_month]['clients'][client_id]['auth'] %} <strong>Auth Available - </strong>{% endif %}{{client_id.split(':')[0]}} has {{unbilled_appts[rc.name][billing_month]['clients'][client_id]['appts']|length}} unbilled appts<br />
                    </div>
                  </div>
                </div>
                {% endfor %}
                <br />
              {% endfor %}
              <input type="submit" class="button is-primary is-small is-outlined" value="Create Invoice" />
              <br />
              <br />
          {% else %}
          <br />
            <p class="subtitle is-5">No Unbilled Appts for {{rc.name}}</p>
          <br />
          {% endif %}
        {% endfor %}
      </form></br>

{% endblock %}
