<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
  <h1 class="title is-3">{{worker.regional_center.name}}</h1>
  <form class="form" action="/case_worker?center_id={{ center_id }}&case_worker_id={{worker.id}}" method="post" name="appt_type">
    {{ form.hidden_tag() }}
    <div class='field is-horizontal'>
      <div class="field-label">
        <label class="label">First Name:</label>
      </div>
      <div class="field-body">
        <div class="field">
         <p class="control">
           {{ form.first_name }}
         </p>
       </div>
     </div>
   </div>
    <div class='field is-horizontal'>
      <div class="field-label">
        <label class="label">Last Name:</label>
      </div>
      <div class="field-body">
        <div class="field">
         <p class="control">
           {{ form.last_name }}
         </p>
       </div>
     </div>
   </div>
    <div class='field is-horizontal'>
      <div class="field-label">
        <label class="label">Email:</label>
      </div>
      <div class="field-body">
        <div class="field">
         <p class="control">
           {{ form.email }}
         </p>
       </div>
     </div>
   </div>
    <div class='field is-horizontal'>
      <div class="field-label">
        <label class="label">Phone:</label>
      </div>
      <div class="field-body">
        <div class="field">
         <p class="control">
           {{ form.phone }}
         </p>
       </div>
     </div>
   </div>
    <div class='field is-horizontal'>
      <div class="field-label">
        <label class="label">Team:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control select is-small">
            {{ form.team_id }}
          </div>
        </div>
      </div>
   </div>

      <input class="button is-primary"  type="submit" value="Submit" />
      <button type="button" class="button is-light" onclick="location.href='/case_workers?center_id={{center_id}}'">Cancel</button>
  </form>
  <br>
  {% if worker.status != 'new' %}
  <hr>
  <h2 class="title is-3">Clients</h2>
  {% if worker.clients.filter_by(status='active').all()|length != 0 %}
  <table class="table">
    <tr>
      <th>Name</th>
      <th></th>
    </tr>

    {% for client in worker.clients|sort(attribute='last_name') %}

      {% if client.status == 'active' %}

        <tr>
          <td>{{client.last_name}}, {{client.first_name}}</td>
          <td><a class="button is-light is-small" href="{{url_for('main.client_profile', client_id=client.id)}}" target="_blank">Edit Profile</a></td>
        </tr>

      {% endif %}
  
    {% endfor %}
  {% else %}
    <p class="title is-4">No Current Clients</p>
  {% endif %}

  </table>
  {% endif %}
{% endblock %}
