<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
<div class="container is-fluid">

      <h1 class="title is-2">{{client.first_name}} {{client.last_name}}
      <a class="button is-light is-medium" href="{{url_for('client_profile', client_id=client.id)}}">Edit Profile</a>
    </h1>
<br />
  <h4 class="subtitle is-5">Client Status: <strong>{{client.status.capitalize()}}</strong>
      {% if current_user.role_id <= 3 %}
        {% if client.status == 'active' %}
          <button onclick="location.href='/client/status?client_id={{client.id}}'" class="button is-danger is-outlined is-small">Archive Client</button>
        {% else %}
          <button onclick="location.href='/client/status?client_id={{client.id}}'" class="button is-success is-outlined is-small">Activate Client</button>
        {% endif %}
      {% endif %}</h4>
  <h4 class="subtitle is-5">Date of Birth: <strong>{{client.birthdate.strftime('%m/%d/%Y')}}</strong></h4>
  <h4 class="subtitle is-5">Therapist: <strong>{{client.therapist.user.first_name}} {{client.therapist.user.last_name}}</strong></h4>
  <h4 class="subtitle is-5">Regional Center: <strong>{{client.regional_center.name}}</strong></h4>
  <h4 class="subtitle is-5">Case Worker: <strong>{{client.case_worker.first_name}} {{client.case_worker.last_name}}</strong>
      <a class="button is-light is-small" href="{{url_for('case_worker', case_worker_id=client.case_worker_id,
        center_id=client.regional_center_id)}}">Info</a>
  </h4>

<br />
  <h1 class="title is-4">Client Files  <a class="button is-info is-small" href="{{url_for('client_files', client_id=client.id)}}">See All</a></h1>
  <h1 class="title is-4">Authorizations  <a class="button is-info is-small" href="{{url_for('client_auths', client_id=client.id)}}">See All</a></h1>
  <table class="table">
   <tr>
     <th class="is-hidden-touch">Start Date</th>
     <th class="is-hidden-touch">End Date</th>
     <th>Auth ID</th>
     <th class="is-hidden-touch">Is Eval Only?</th>
     <th>Visits</th>
     <th></th>
   </tr>
   {% for auth in auths %}
     <tr>
       <td class="is-hidden-touch">{{ auth.auth_start_date.strftime('%b %d, %Y') }}</td>
       <td class="is-hidden-touch">{{ auth.auth_end_date.strftime('%b %d, %Y') }}</td>
       <td>{{ auth.auth_id }}</td>
       {% if auth.is_eval_only %}
       <td class="is-hidden-touch" style="text-align:center">X</td>
       {% else %}
       <td class="is-hidden-touch"></td>
       {% endif %}
       <td style="text-align:center">{{ auth.monthly_visits }}</td>
       <td><button class="button is-small is-primary" onclick="location.href='/client/authorization?client_id={{client.id}}&client_auth_id={{auth.id}}'">Edit Auth</button></td>
     </tr>
   {% endfor %}
 </table>

 <br />

   <h1 class="title is-4">Appointments
       <a class="button is-info is-small" href="{{url_for('client_appts', client_id=client.id)}}">See All</a>
       <a class="button is-light is-small" href="{{url_for('client_notes', client_id=client.id)}}">See Notes</a>
   </h1>

 <table class="table">
   <tr>
     <th>Appt Date</th>
     <th class="is-hidden-touch">Therapist</th>
     <th>Status</th>
     <th class="is-hidden-touch">Note</th>
     {% if current_user.role_id < 3 %}
      <th class="is-hidden-touch">Billing</th>
     {% endif %}
     <th></th>
   </tr>
   {% for appt in appts %}
     <tr>
       <td>{{ appt.start_datetime.strftime(('%m/%d/%Y')) }}</td>
       <td class="is-hidden-touch">{{ appt.therapist.user.first_name }}</td>
       {% if appt.cancelled == 1 %}
       <td>
          Cancelled
       </td>
       {% else %}
       <td> </td>
       {% endif %}
       {% if appt.note %}
       <td class="is-hidden-touch">{{ appt.note.note[:50] + '...'}}</td>
       {% else %}
       <td class="is-hidden-touch"></td>
       {% endif %}
       {% if current_user.role_id < 3 %}
       {% if appt.billing_notes.first() %}
       <td class="is-hidden-touch">{{ appt.billing_notes.first().note}}</td>
       {% else %}
       <td class="is-hidden-touch"></td>
       {% endif %}
       {% endif %}
       <td><button class="button is-small is-primary" onclick="location.href='/client/note?appt_id={{appt.id}}'">Edit Appt</button></td>
     </tr>
   {% endfor %}
</table>


 <br />

   <h1 class="title is-4">Evaluations</h1>
   <a class="button is-info is-small" href="{{url_for('client_evals', client_id=client.id)}}">Bayley 3 Evals</a>
   <a class="button is-info is-small" href="{{url_for('evaluation.index', client_id=client.id)}}">Bayley 4 Evals</a>


</div>
{% endblock %}
