<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
  <h1>Client Information: </h1>
  <h3>{{ client.first_name }} {{ client.last_name }}</h3>
  <form action="/client/profile?client_id={{client.id}}" method="post" name="client_profile">
    {{ form.hidden_tag() }}
    <table>
    <tr><td>First Name:</td><td>{{ form.first_name }}</td></tr>
    <tr><td>Last Name:</td><td>{{ form.last_name }}</td></tr>
    <tr><td>Birthdate:</td><td>{{ form.birthdate }}</td></tr>
    <tr><td>UCI Number:</td><td>{{ form.uci_id }}</td></tr>
    <tr><td>Regional Center:</td><td>{{ form.regional_center_id }}</td></tr>
    <tr><td>Therapist:</td><td>{{ form.therapist_id }}</td></tr>
    </table>
    <input type="submit" value="Submit" />
  </form>
  <button onclick="location.href='/clients'">Cancel</button>

  </br>

  <h1>Authorizations</h1> </br>
  <button>New Authorization</button>
  </br>

  <h1>Evaluations</h1>
  <button>New Evaluation</button>

  </br>

  <h1>Notes</h1>
  <form action="">
    Start Date: <input type="date" name="start_date" />
    End Date: <input type="date" name="end_date" /></br>
    <input type="submit" value="Get Notes" />

  </form>
{% endblock %}
