<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
  <h1>Client Authorization for: </h1>
  <h2>{{ client.first_name + ' ' + client.last_name}}</h2>
  <form action="/client/authorization?client_id={{ client.id }}&client_auth_id={{ auth.id }}" method="post" name="client_auth">
    {{ form.hidden_tag() }}
    <table>
      <tr><td>Authorization ID: </td><td>{{form.auth_id}}</td></tr>
      <tr><td>Start Date: </td><td>{{form.auth_start_date}}</td></tr>
      <tr><td>End Date: </td><td>{{form.auth_end_date}}</td></tr>
      <tr><td>Evaluation Only Authorization? </td><td>{{form.is_eval_only}}</td></tr>
      <tr><td>Max Visits: </td><td>{{form.monthly_visits}}</td></tr>

    </table>
    <input type="submit" value="Submit" />
  </form>

  <button onclick="location.href='/client/profile?client_id={{client.id}}'">Cancel</button>
{% endblock %}
