<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/jquery-ui.min.css">
<script src="/static/js/jquery-ui.min.js"></script>

<script>
$(document).ready(function() {
      $('#start_date').datepicker();
      $('#end_date').datepicker();
})
</script>

<div class="content">

 <h1 class="title">{{client.first_name}} {{client.last_name}}</h1>
 <h3 class="subtitle">Apppointments from: </h3>
 <form class="form" action="" method="post">
      {{ form.hidden_tag() }}
      <div class='field is-horizontal'>
        <div class="field-label">
          <label class="label">Start Date:</label>
        </div>
        <div class="field-body">
          <div class="field">
           <p class="control">
              {{form.start_date(id="start_date", value=start_date.strftime('%m/%d/%Y'))}}
           </p>
         </div>
       </div>
      </div>
      <div class='field is-horizontal'>
        <div class="field-label">
          <label class="label">End Date:</label>
        </div>
        <div class="field-body">
          <div class="field">
           <p class="control">
              {{form.end_date(id="end_date", value=end_date.strftime('%m/%d/%Y'))}}
           </p>
         </div>
       </div>
      </div>
      <input class="button is-small is-primary" type="submit" value="Get Appts" />
      <button type="button" class="button is-light is-small" onclick="location.href='/clients'">Cancel</button>
 </form>
 <table class="table">
   <tr>
     <th>Appt Date & Time</th>
     <th>Therapist</th>
     <th>Appt Type</th>
     <th>Status</th>
     <th>Note Preview</th>
     <th>Billing Notes Preview</th>
   </tr>
   {% for appt in appts %}
     <tr>
       <td><a href="/client/note?appt_id={{appt.id}}">{{ appt.start_datetime.strftime(('%b %-d, %Y - %-I:%M %p')) }}</a></td>
       <td>{{ appt.therapist.user.first_name }}</td>
       <td>{{ appt.appt_type.name }}</td>
       {% if appt.cancelled == 1 %}
       <td>
          Cancelled
       </td>
       {% else %}
       <td> </td>
       {% endif %}
       {% if appt.note %}
       <td>{{ appt.note.note[:50] + '...'}}</td>
       {% else %}
       <td></td>
       {% endif %}
       {% if appt.billing_notes.first() %}
       <td>{{ appt.billing_notes.first().note}}</td>
       {% else %}
       <td></td>
       {% endif %}

     </tr>
   {% endfor %}
</table>

</div>
<button type="button" class="button is-info" onclick="location.href='/client/notes?client_id={{client.id}}&start_date={{start_date.strftime('%Y-%m-%d')}}&end_date={{end_date.strftime('%Y-%m-%d')}}'">See All Notes</button>

{% endblock %}
