<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/jquery-ui.min.css">
<script src="/static/js/jquery-ui.min.js"></script>

<script>
$(document).ready(function() {
      $('#start_date').datepicker();
      $('#end_date').datepicker();
})
</script>

        <h1 class="title">{{client.first_name}} {{client.last_name}}</h1>
        <h3 class="subtitle">Notes From:</h3>
    <form class="form" action="" method="post">
         {{ form.hidden_tag() }}
         <div class="level">
            <div class="level-left">
               <div class="level-item">
                  <div class="field">
                     <div class="control">
                        <label class="label">
                           Start:
                           {{form.start_date(id="start_date", value=start_date.strftime('%m/%d/%Y'))}}
                        </label>
                     </div>
                  </div>
      </div>
      <div class="level-item">
         <div class="field">
            <div class="control">
               <label class="label">
                  End:
                  {{form.end_date(id="end_date", value=end_date.strftime('%m/%d/%Y'))}}
               </label>
            </div>
         </div>
         </div>
         <div class="level-item">
            <div class="field is-grouped-right">
         <input class="button is-small is-primary" type="submit" value="Get Notes" />
         <button type="button" class="button is-light is-small" onclick="location.href='/clients'">Cancel</button>
      </div>
      </div>
      </div>
   </div>
    </form>
    <hr  style="margin:.25rem 0 1rem 0" />
    {% for appt in appts %}
      <h5 class='title is-5'><a href="/client/note?appt_id={{appt.id}}">{{appt.start_datetime.strftime('%b %d, %Y')}}</a></h5>
      <p>
        {{appt.note.note}}
      </p>
      <hr  style="margin:.25rem 0 .25rem 0" />
    {% endfor %}

{% endblock %}
