<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
<div class='content'>
  <h1>{{client.first_name}} {{client.last_name}}</h1>
  <h3>Goals from {{start_date.strftime('%b %d, %Y')}} to {{end_date.strftime('%b %d, %Y')}}</h3>
</div>

<form action="" method="post" name="date_selector">
  {{ form.hidden_tag() }}
  Start Date: {{form.start_date}}
  End Date: {{form.end_date}}
  <input class="button is-primary" type="submit" value="Get Goals" />
  <button class="button is-link" onclick="location.href='/clients'">Cancel</button>
</form>

<form action="" method="post" name="goal_submission">
<table class="table">
  <tr>
    <th>Date</th>
    <th>Goal</th>
    <th>Status</th>
  </tr>
  {% for goal in goals %}
  <tr>
    <td>
      {{goal.created_date.strftime('%b %d, %Y')}}
    </td>
    <td>
      {{goal.goal}}
    </td>
    <td>
    {% if goal.goal_status %}
      {{goal.goal_status }}
    {% else %}
    <div class="select">
      <select name={{goal.id}}>
        <option value=""></option>
        <option value="Met">Met</option>
        <option value="Not Met">Not Met</option>
        <option value="Partially Met">Partially Met</option>
      </select>
    </div>
    {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
<input class="button is-info" type="submit" value="Input Goal Status" />
</form>
<button class="button is-primary is-outlined" onclick="location.href='/client/goal?client_id={{client.id}}'">New Goal</button>




{% endblock %}
