<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
<h3>Current Clients</h3>
<table>
  {% for client in clients %}
    <tr>
      <td>
        <a href='/client/profile?client_id={{client.id}}'> {{client.last_name}}, {{client.first_name}} </a>
      </td>
      <td>
        <button onclick="location.href='/eval_directory/{{client.id}}'">Evaluations</button>
      </td>
      <td>
          <button onclick="location.href='/client/delete?client_id={{client.id}}'">Delete Client</button>
      </td>
    </tr>
  {% endfor %}
    </table>
    <br />
  <button onclick="location.href='/client/profile'">New Client</button>

{% endblock %}
