<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}

<h1 class="title">New Goal</h1>
<h3 class="subtitle">{{client.first_name}} {{client.last_name}}</h3>

<form class="form" action="" method="post">
  <div class='field is-horizontal'>
    <div class="field-label">
      <label class="label">{{client.first_name}} will</label>
    </div>
    <div class="field-body">
      <div class="field">
       <p class="control">
         <input type='text' name="goal" placeholder="perform task" />
       </p>
     </div>
   </div>
  </div>


  <input class="button is-primary is-small" type='submit' value="Add Goal" />
  <button type="button" class="button is-light is-small" onclick="location.href='/client/goals?client_id={{client.id}}'">Cancel</button>
</form>

{% endblock %}
