<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
 <h1>{{client.first_name}} {{client.last_name}}</h1>
 <h3>Authorizations for {{client.regional_center.name}}</h3>
  <table class="table">
   <tr>
     <th>Start Date</th>
     <th>End Date</th>
     <th>Auth ID</th>
     <th>Is Eval Only?</th>
     <th>Max Visits</th>
     <th>Status</th>
     <th></th>
   </tr>
   {% for auth in auths %}
     <tr>
       <td>{{ auth.auth_start_date.strftime('%b %d, %Y') }}</td>
       <td>{{ auth.auth_end_date.strftime('%b %d, %Y') }}</td>
       <td>{{ auth.auth_id }}</td>
       {% if auth.is_eval_only %}
       <td>X</td>
       {% else %}
       <td></td>
       {% endif %}
       <td>{{ auth.monthly_visits }}</td>
       <td>{{ auth.status }}</td>
       <td><button onclick="location.href='/client/authorization?client_id={{client.id}}&client_auth_id={{auth.id}}'">Edit Auth</button></td>
     </tr>
   {% endfor %}
 </table>
<button onclick="location.href='/client/authorization?client_id={{client.id}}'">New Authorization</button>
{% endblock %}
