<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
  <h1>Client Information: </h1>
  <h3>{{ client.first_name }} {{ client.last_name }}</h3>
  <form action="/client/profile?client_id={{client.id}}" method="post" name="client_profile">
    {{ form.hidden_tag() }}
    <table>
    <tr><td>First Name:</td><td>{{ form.first_name }}</td></tr>
    <tr><td>Last Name:</td><td>{{ form.last_name }}</td></tr>
    <tr><td>Birthdate:</td><td>{{ form.birthdate }}</td></tr>
    <tr><td>Gender:</td><td>{{ form.gender }}</td></tr>
    <tr><td>Street Address:</td><td>{{ form.address }}</td></tr>
    <tr><td>City:</td><td>{{ form.city }}</td><td>State:</td><td>{{ form.state }}</td><td>ZipCode:</td><td>{{ form.zipcode }}</td></tr>
    <tr><td>Phone Number:</td><td>{{ form.phone }}</td></tr>
    <tr><td>UCI Number:</td><td>{{ form.uci_id }}</td></tr>
    <tr><td>Regional Center:</td><td>{{ form.regional_center_id }}</td></tr>
    <tr><td>Therapist:</td><td>{{ form.therapist_id }}</td></tr>
    </table>
    <input type="submit" value="Submit" />
  </form>
  {% if client.status == 'active' %}
  <button onclick="location.href='/client/status?client_id={{client.id}}'">Archive Client</button>
  {% else %}
  <button onclick="location.href='/client/status?client_id={{client.id}}'">Activate Client</button>
  {% endif %}
  <button onclick="location.href='/clients'">Cancel</button>

{% endblock %}
