<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
  <h1>Client Information: </h1>
  <h3>{{ client.first_name }} {{ client.last_name }}</h3>
  <form action="/client/profile?client_id={{client.id}}" method="post" name="client_profile">
    {{ form.hidden_tag() }}
    <table>
    <tr><td>First Name:</td><td>{{ form.first_name }}</td></tr>
    <tr><td>Last Name:</td><td>{{ form.last_name }}</td></tr>
    <tr><td>Birthdate:</td><td>{{ form.birthdate }}</td></tr>
    <tr><td>Gender:</td><td>{{ form.gender }}</td></tr>
    <tr><td>Street Address:</td><td>{{ form.address }}</td></tr>
    <tr><td>City:</td><td>{{ form.city }}</td><td>State:</td><td>{{ form.state }}</td><td>ZipCode:</td><td>{{ form.zipcode }}</td></tr>
    <tr><td>Phone Number:</td><td>{{ form.phone }}</td></tr>
    <tr><td>UCI Number:</td><td>{{ form.uci_id }}</td></tr>
    <tr><td>Regional Center:</td><td>{{ form.regional_center_id }}</td></tr>
    <tr><td>Therapist:</td><td>{{ form.therapist_id }}</td></tr>
    </table>
    <input type="submit" value="Submit" />
  </form>
  <button onclick="location.href='/clients'">Cancel</button>
  </br>

  <h1>Authorizations</h1> </br>
  <table>
    <tr><th>Authorization ID</th><th>Start Date</th><th>End Date</th><th>Max Visits</th></tr>
    {% for auth in client.auths %}
    <tr><td><a href="/client/authorization?client_id={{client.id}}&client_auth_id={{auth.id}}">{{ auth.auth_id }}</a></td>
      <td>{{auth.auth_start_date.strftime('%b %-d, %Y')}}</td>
      <td>{{auth.auth_end_date.strftime('%b %-d, %Y')}}</td>
      <td>{{auth.monthly_visits}}</td>
    </tr>
    {% endfor %}
  </table>
  <button onclick="location.href='/client/authorization?client_id={{client.id}}'">New Authorization</button>
  </br>

  <h1>Evaluations</h1>
  <table>
    <tr><th>Evaluation Date</th><th>Therapist</th><th>Results</th><th>Report</th></tr>
    {% for eval in client.evals %}
    <tr><td>{{ eval.created_date.strftime('%b %-d, %Y') }}</td>
      <td>{{eval.therapist.user.first_name}}</td>
      <td><a href="/eval/{{eval.id}}/responses">Results</a></td>
      <td>Link To Download Report</td>
    </tr>
    {% endfor %}
  </table>

          <button onclick="location.href='/new_eval/{{client.id}}'">New Evaluation</button>
  </br>

  <h1>Notes</h1>
  <form action="">
    Start Date: <input type="date" name="start_date" />
    End Date: <input type="date" name="end_date" /></br>
    <input type="submit" value="Get Notes" />
  </form>
  <table>
    <tr>
      <th>Appt Date & Time</th>
      <th>Therapist</th>
      <th>Note Preview</th>
    </tr>
    {% for appt in client.appts[:10] %}
      <tr>
        <td><a href="/client/note?appt_id={{appt.id}}">{{ appt.start_datetime.strftime(('%b %-d, %Y - %-I:%M %p')) }}</a></td>
        <td>{{ appt.therapist.user.first_name }}</td>
        {% if appt.note %}
        <td>{{ appt.note.note[:50] + '...'}}</td>
        {% else %}
        <td></td>
        {% endif %}
      </tr>
    {% endfor %}

  </table>
{% endblock %}
