<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
<h3><a href="/clients">Current Clients</a></h3>
<p><a href="/clients/archive">Client Archive</a></p>


<form action="" method="post">
  {% if current_user.role_id < 3%}
  <select name="therapist">
  {% for therapist in therapists %}
      {% if therapist.user.id == therapist.id %}
        <option value="{{therapist.user.id}}" selected>{{therapist.user.first_name}}</option>
      {% else %}
        <option value="{{therapist.user.id}}">{{therapist.user.first_name}}</option>
      {% endif %}
  {% endfor %}
  </select>
  {% endif %}

  <select name="regional_center">
    {% if center_id == 0 %}
      <option value="0" selected>All</option>
    {% else %}
      <option value="0">All</option>
    {% endif %}
  {% for rc in rcs %}
      {% if rc.id == center_id %}
        <option value="{{rc.id}}" selected>{{rc.name}}</option>
      {% else %}
        <option value="{{rc.id}}">{{rc.name}}</option>
      {% endif %}
  {% endfor %}
  </select>
  <input type="submit" value="Select"/>
</form>

<table>
  {% for client in clients %}
    <tr>
      <td>
        {{client.last_name}}, {{client.first_name}}
      </td>

      <td>
        <button onclick="location.href='client/appts?client_id={{client.id}}'">Appointments</button>
      </td>
      <td>
        <button onclick="location.href='/eval_directory/{{client.id}}'">Evaluations</button>
      </td>
      <td>
        <button onclick="location.href='/client/auths?client_id={{client.id}}'">Authorizations</button>
      </td>
      <td>
        <button onclick="location.href='/client/profile?client_id={{client.id}}'">Edit Client Info</button>
      </td>
      <td>
          <button onclick="location.href='/client/delete?client_id={{client.id}}'">Archive Client</button>
      </td>
    </tr>
  {% endfor %}
    </table>
    <br />
  <button onclick="location.href='/client/profile'">New Client</button>

{% endblock %}
