<!-- from base layout -->

{% extends 'base.html' %}
{% block content %}
<script>
$(document).ready(function(){
  $(".dropdown").click(function() {
    if ($(this).hasClass('is-active')){
      $(this).toggleClass('is-active')
    } else {
      $(".dropdown").removeClass('is-active');
      $(this).toggleClass('is-active');
    }
  })
});
</script>


{% if not archive %}
<div class="level">
  <div class="level-left">
    <div class="level-item">
      <h3 class="title is-3">Current Clients</h3>
    </div>
    <div class="level-item">
        <button type="button" class="button is-info is-outlined" onclick="location.href='/client/search'">Search/Add New</button>
    </div>
  </div>
</div>
<form action="/clients" method="post">
{% else %}
<h3 class="title is-3">Client Archive</h3>
<form action="/clients/archive" method="post">
{% endif %}

  <div class="select is-small">
    <select name="therapist">
    {% for therapist in therapists %}
        {% if therapist.id == therapist_id %}
          <option value="{{therapist.id}}" selected>{{therapist.user.first_name}}</option>
        {% else %}
          <option value="{{therapist.id}}">{{therapist.user.first_name}}</option>
        {% endif %}
    {% endfor %}
    </select>
  </div>

  <div class="select is-small">
    <select name="regional_center">
      {% if center_id == 0 %}
        <option value="0" selected>All</option>
      {% else %}
        <option value="0">All</option>
      {% endif %}
    {% for rc in rcs %}
        {% if rc.id == center_id %}
          <option value="{{rc.id}}" selected>{{rc.name}}</option>
        {% else %}
          <option value="{{rc.id}}">{{rc.name}}</option>
        {% endif %}
    {% endfor %}
  </select>
  </div>
  <input class="button is-small is-primary is-outlined"type="submit" value="Select"/>
</form>

<table class="table">
  {% for client in clients %}

    <tr>
      <td>
        {{client.last_name}}, {{client.first_name}}
      </td>
      <td>
        <div class="dropdown is-right" id="{{client.id}}">
          <div class="dropdown-trigger">
            <button class="button is-primary is-small" id="client-dropdown-button" aria-haspopup="true" aria-controls="dropdown-menu3">
              <span>Client Info</span>
              <span class="icon is-small">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              {% if current_user.role_id <= 3 %}
                <a href="/client/appts?client_id={{client.id}}" class="dropdown-item">Appointments</a>
              {% endif %}
              <a href="/client/notes?client_id={{client.id}}" class="dropdown-item">Notes</a>
              <a href="/client/goals?client_id={{client.id}}" class="dropdown-item">Goals</a>
              <a href="/client/auths?client_id={{client.id}}" class="dropdown-item">Authorizations</a>
              {% if current_user.id <= 2 %}
              <a href="/client/evals?client_id={{client.id}}" class="dropdown-item">Evaluations</a>
              {% endif %}
              <hr class="dropdown-divider" />
              <a href="/client/profile?client_id={{client.id}}" class="dropdown-item">Edit Client Info</a>
              {% if current_user.role_id <= 3 %}
                <hr class="dropdown-divider" />
                <div class="dropdown-item">
                  {% if client.status == 'active' %}
                    <button onclick="location.href='/client/status?client_id={{client.id}}'" class="button is-danger is-small">Archive Client</button>
                  {% else %}
                    <button onclick="location.href='/client/status?client_id={{client.id}}'" class="button is-success is-small">Activate Client</button>
                  {% endif %}
              {% endif %}
              </div>
            </div>
          </div>

        </div>
      </td>
    </tr>
  {% endfor %}
    </table>

{% endblock %}
