<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/jquery-ui.min.css">
<link rel="stylesheet" href="/static/css/jquery.timepicker.css">
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/jquery.timepicker.min.js"></script>

<script>
$(document).ready(function() {

   $('#editDateBtn').on('click', function() {

     $(`<div class="level">
        <div class="level-left">
           <div class="level-item">

     <div class='field is-horizontal'>
       <div class="field-label">
         <label class="label">Date:</label>
       </div>
       <div class="field-body">
         <div class="field">
          <p class="control">
             {{form.appt_date(id="appt_date")}}
          </p>
        </div>
      </div>
     </div>
  </div>
  <div class="level-item">
     <div class='field is-horizontal'>
       <div class="field-label">
         <label class="label">Time:</label>
       </div>
       <div class="field-body">
         <div class="field">
          <p class="control">
             {{form.appt_time(id="appt_time")}}
          </p>
        </div>
      </div>
     </div>
     </div>
     </div>
     </div>`).insertBefore('#cancelled')

    $('#appt_date').datepicker();
    $('#appt_time').timepicker();
     $('#editDateBtn').hide();
   });

});
</script>
<div class="content">

  <h1 class="title is-spaced">{{ appt.client.first_name + ' ' + appt.client.last_name}}</h1>
  <h3 class="subtitle">{{ appt.date_string }}</h2>
  {% if current_user.role_id <= 3 and appt.note %}
  <h4 class="subtitle is-4">Prepared by: {{ appt.note.user.first_name + ' ' + appt.note.user.last_name }}</h3>
  {% endif %}
  {% if current_user.role_id < 3 %}
  {% if appt.billing_xml_id %}
    <p>Appt Billed in <a href="/billing/invoice?invoice_id={{appt.billing_xml_id}}">invoice on {{appt.billing_invoice.created_date.strftime('%b %d, %Y')}}</a></p>
    {% endif %}
  {% endif %}
  {% for note in appt.billing_notes %}
    <p>{{note.note}}</p>
    {% endfor %}
    {% if current_user.role_id <= 3 %}
    <button class="button is-primary is-outlined is-small" id="editDateBtn">Edit Date</button>
    {% endif %}
  <form action="/client/note?appt_id={{ appt.id }}" method="post" name="client_note">
    {{ form.hidden_tag() }}
    {% if current_user.role_id <= 3 %}
    <div class="field is-horizontal" id="cancelled">
      <div class="field-label">
        <label class="label">Cancelled?</label>
      </div>
      <div class="field-body">
          {{form.cancelled}}
      </div>
      </div>
    <div class="field is-horizontal" id="approved">
      <div class="field-label">
        <label class="label">Approved?</label>
      </div>
      <div class="field-body">
          {{form.approved}}
      </div>
      </div>
    {% endif %}
    {{ form.notes(class="textarea", placeholder="Notes:", rows='25%', cols='60%') }}
    <input class="button is-primary" type="submit" value="Submit" />
    <button class="button is-light" type="button" onclick="location.href='/clients'">Cancel</button>
  </form>

</div>
{% endblock %}
