<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
<table>
    <tr>
      <th>
        Company
      </th>
      <th></th>
    </tr>
    {% for company in companies %}

    <tr>
      <td>
        {{company.name}}
      </td>
      <td>
          <button onclick="location.href='/company?company_id={{company.id}}'">Edit Company Info</button>
      </td>
      <td>
          <button onclick="location.href='/users?company_id={{company.id}}'">See Users</button>
      </td>
      <td>
          <button onclick="location.href='/regional_centers?company_id={{company.id}}'">See Regional Centers</button>
      </td>
    </tr>
  {% endfor %}
    </table>
    <br />
  <button onclick="location.href='/company'">New Company</button>

{% endblock %}
