<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
<h1 class="title is-3">{{company.name}}</h1>
<h3 class="subtitle">Company Information</h3>
  <form class="form" action="/company?company_id={{company.id}}" method="post" name="company">
    {{ form.hidden_tag() }}
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Name:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            {{ form.name }}
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Address:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            {{ form.address }}
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">City:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            {{ form.city }}
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">State:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            {{ form.state }}
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Zipcode:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            {{ form.zipcode }}
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Vendor ID:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            {{ form.vendor_id }}
          </p>
        </div>
      </div>
    </div>
    <input class="button is-primary"  type="submit" value="Submit" />
    <button type="button" class="button is-light"onclick="location.href='/companies'">Cancel</button>
  </form>

{% endblock %}
