<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}

<h1 class="title is-3">Face Sheet PDF Upload</h1>
<form class="form" action="" method="post" name="facesheet_upload" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="field">
        <label class="label">{{form.therapist_id.label}}</label>
        <div class="control">
            {{form.therapist_id}}
        </div>
    </div>
    <div class="field">
        <label class="label">{{form.upload_file_password.label}}</label>
        <div class="control">
            {{form.upload_file_password}}
        </div>
    </div>
    <div class="field">
        <label class="label">{{form.facesheet_file.label}}</label>
        <div class="control">
            {{form.facesheet_file}}
        </div>
    </div>
    <input type="submit" class="button is-primary" value="Submit" />
    <button type="button" class="button is-light" onclick="{{url_for('main.user_tasks')}}">Cancel</button>
</form>
</br>

{% endblock %}
