{%extends "base_login.html" %}
{% block content %}
<div class="content">

    <h1>Welcome to SBT Notes!</h1>
    <form action="/login" method="post">
      {{ form.hidden_tag() }}
    <div class="field">
        <p class="control has-icons-left has-icons-right">
            {{ form.email(placeholder="Email", type="email", class="input is-medium") }}
            <span class="icon is-left">
                <i class="fa fa-envelope"></i>
            </span>
            <span class="icon is-right">
                <i class="fa fa-check"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            {{ form.password(placeholder="Password", class="input is-medium") }}
            <span class="icon is-left">
                <i class="fa fa-lock"></i>
            </span>
        </p>
    </div>
      <p>
        <input type="submit" class="button is-primary" value="Log In" />
        {{ form.remember_me }} Remember Me
      </p>
      <p>
          If you are a new user please ask your Site Admin for a login!
          <!-- <a href="/signup">Sign Up Here</a> -->
      </p>
    </form>
</div>
{% endblock %}
