<html>

<head>
  <title>Welcome to Notes@SBT</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/bulma.css">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="layout-default">
  {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
  <div class="notification is-primary">
    {{ message }}
  </div>
  {% endfor %} {% endif %} {% endwith %}
  <section class="hero is-fullheight is-medium is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <article class="card is-rounded">
            <div class="card-content">
              <span class="columns is-centered is-mobile">
                      <h1 class="title">
                    <img src="/static/img/SBTLogo.png" alt="Notes@SBT" width="150">
                  </h1>
                       </span>
              <form action="/login" method="post">
                {{ form.hidden_tag() }}
                <p class="control has-icons-left">
                  {{ form.email(placeholder="Email", type="email", class="input is-medium") }}
                  <span class="icon is-left">
                  <i class="fa fa-envelope"></i>
                  </span>
                </p>
                <p class="control has-icons-left">
                  {{ form.password(placeholder="Password", class="input is-medium") }}
                  <span class="icon is-left">
                  <i class="fa fa-lock"></i>
                </span>
                </p>
                <p class="control">
                  <label class="checkbox">
                      <input type="checkbox">
                      Remember me
                    </label>
                </p>
                <p class="control">
                  <button class="button is-primary is-medium is-fullwidth">
                      <i class="fa fa-user"></i>
                      Login
                    </button>
                </p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
