<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}

<script>
$(document).ready(function(){
  $(".table-data").click(function() {
    if ($(this).hasClass('is-selected')){
      $(this).toggleClass('is-selected')
    } else {
      $(".table-data").removeClass('is-selected');
      $(this).toggleClass('is-selected');
    }
  })
})
</script>

  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <h3 class="title is-3">Invoice for {{rc.name}} for {{start_date.strftime('%b %Y')}}</h3>
      </div>
      <div class="level-item">
      {% if file_link %}
      <br />
      <a class="button is-small is-primary is-outlined" href="/invoice/download?invoice_id={{invoice_id}} download">Download Invoice</a>
      {% else %}
      <form action="" method="post">
        <input type="submit" class="button is-small is-primary" value="Create XML" />
      </form>
      {% endif %}
    </div>
    </div>
  </div>
  <h5 class="title is-4">Total Appts:  <span class="title is-5 has-text-grey">{{evals.get('appt_count',0) + treatments.get('appt_count', 0)}}</span></h5>
  <h5 class="title is-4">Total Amount:  <span class="title is-5 has-text-grey">{{'${:,.2f}'.format((evals.get('appt_amount',0) + treatments.get('appt_amount',0))|float)}}</span></h5>

  {% for client in notes %}
    <p><strong>{{notes[client]['name']}}</strong>
        <button class="button is-outlined is-info is-small" onclick="window.open('/client/summary?client_id={{client}}', '_blank')">Summary</button>
    </p>
    <ul>
    {% for note in notes[client]['notes']%}
      <li> {{note}}</li>
    {% endfor %}
    </ul>
    </br>
  {% endfor %}
  </br>

  {% if evals['appts_for_grid']|length > 0 %}
  <h3 class="title is-5">Evaluations</h3>
  <table border="1px black" class="table is-stripped is-bordered is-narrow" id="appt-table">
    <tr>
      <th style="text-align:center" class="is-size-7">Client</th>
      <th style="text-align:center" class="is-size-7 is-hidden-touch">Appt Type</th>
      <th style="text-align:center" class="is-size-7">Total Appts</th>
      <th style="text-align:center" class="is-size-7">Total Amount</th>
      {% for day in range(days) %}
        <th style="text-align:center" class="is-size-7 is-hidden-touch">
          {{ day + 1 }}
        </th>
      {% endfor %}
    </tr>
    {% for appt in evals['appts_for_grid'] %}
    <tr class="table-data" >
      <td style="text-align:center;" class="is-size-7">
        <a class="has-text-grey" href="{{url_for('client_summary',client_id=appt['client_id'])}}" target="_blank">{{ appt.firstname }} {{ appt.lastname }}</a>
      </td>
      <td style="text-align:center;" class="is-size-7 is-hidden-touch">{{ appt.appt_type }}</td>
      <td style="text-align:center;" class="is-size-7">{{ appt.total_appts }}</td>
      <td style="text-align:center;" class="is-size-7">{{ '${:,.2f}'.format(appt.total_amount|float) }}</td>
      {% for count in appt.appts %}
        <td style="text-align:center;" class="is-size-7 is-hidden-touch">{{ count }}</td>
      {% endfor %}
    </tr>
    {% endfor %}

    <tr>
      <td style="text-align:right" class="is-size-7"><strong>Totals:</strong></td>
      <td class="is-hidden-touch"></td>
      <td style="text-align:center;" class="is-size-7"><strong>{{evals['appt_count']}}</strong></td>
      <td style="text-align:center;" class="is-size-7"><strong>{{ '${:,.2f}'.format(evals['appt_amount'])}}</strong></td>
      {% for day in evals['daily_totals'] %}
        {% if day == 0 %}
          <td class="is-hidden-touch"></td>
        {% else %}
          <td style="text-align:center" class="is-size-7 is-hidden-touch"><strong>{{day}}</strong></td>
        {% endif %}
      {% endfor %}

    </tr>
  </table>
{% endif %}
  {% if treatments['appts_for_grid']|length > 0 %}
  <h3 class="title is-5">Treatments</h3>
  <table border="1px black" class="table is-stripped is-bordered is-narrow" id="appt-table">
    <tr>
      <th style="text-align:center" class="is-size-7">Client</th>
      <th style="text-align:center" class="is-size-7 is-hidden-touch">Appt Type</th>
      <th style="text-align:center" class="is-size-7">Total Appts</th>
      <th style="text-align:center" class="is-size-7">Total Amount</th>
      {% for day in range(days) %}
        <th style="text-align:center" class="is-size-7 is-hidden-touch">
          {{ day + 1 }}
        </th>
      {% endfor %}
    </tr>
    {% for appt in treatments['appts_for_grid'] %}
    <tr class="table-data" >
      <td style="text-align:center;" class="is-size-7">
        <a class="has-text-grey" href="{{url_for('client_summary',client_id=appt['client_id'])}}" target="_blank">{{ appt.firstname }} {{ appt.lastname }}</a>
      </td>
      <td style="text-align:center;" class="is-size-7 is-hidden-touch">{{ appt.appt_type }}</td>
      <td style="text-align:center;" class="is-size-7">{{ appt.total_appts }}</td>
      <td style="text-align:center;" class="is-size-7">{{ '${:,.2f}'.format(appt.total_amount|float) }}</td>
      {% for count in appt.appts %}
        <td style="text-align:center;" class="is-size-7 is-hidden-touch">{{ count }}</td>
      {% endfor %}
    </tr>
    {% endfor %}

    <tr>
      <td style="text-align:right" class="is-size-7"><strong>Totals:</strong></td>
      <td class="is-hidden-touch"></td>
      <td style="text-align:center;" class="is-size-7"><strong>{{treatments['appt_count']}}</strong></td>
      <td style="text-align:center;" class="is-size-7"><strong>{{'${:,.2f}'.format(treatments['appt_amount'])}}</strong></td>
      {% for day in treatments['daily_totals'] %}
        {% if day == 0 %}
          <td class="is-hidden-touch"></td>
        {% else %}
          <td style="text-align:center" class="is-size-7 is-hidden-touch"><strong>{{day}}</strong></td>
        {% endif %}
      {% endfor %}

    </tr>
  </table>
{% endif %}


{% endblock %}
