
{% extends 'base.html' %}

{% block content %}


<link rel="stylesheet" href="/static/css/jquery-ui.min.css">
<link rel="stylesheet" href="/static/css/jquery.timepicker.css">
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/jquery.timepicker.min.js"></script>

<script>
$(document).ready(function() {
    $('#appt_date').datepicker();
    $('#appt_time').timepicker();
   });
</script>

<h1 class="title is-3">{{ client.first_name + ' ' + client.last_name}}</h1>
<h3 class="subtitle">New Appointment:</h3>

<form class ="form" action="" method="post" name="new_client_appt">

  <div class='field is-horizontal'>
    <div class="field-label">
      <label class="label">Date:</label>
    </div>
    <div class="field-body">
      <div class="field">
       <p class="control">
         {{form.appt_date(id="appt_date")}}
       </p>
     </div>
   </div>
 </div>
  <div class='field is-horizontal'>
    <div class="field-label">
      <label class="label">Time:</label>
    </div>
    <div class="field-body">
      <div class="field">
       <p class="control">
         {{form.appt_time(id="appt_time")}}
       </p>
     </div>
   </div>
 </div>
 <div class='field is-horizontal'>
   <div class="field-label">
     <label class="label">Appt Type:</label>
   </div>
   <div class="field-body">
     <div class="select is-small">
        {{ form.appt_type}}
    </div>
  </div>
</div>
<div class='field is-horizontal'>
  <div class="field-label">
    <label class="label">At Regional Center?</label>
  </div>
  <div class="field-body">
    <div class="field">
       {{ form.at_rc }}
   </div>
 </div>
</div>
<div class='field is-horizontal'>
  <div class="field-label">
    <label class="label">Appt Confirmed?</label>
  </div>
  <div class="field-body">
    <div class="field">
       {{ form.confirmed }}
   </div>
 </div>
</div>

  <input class="button is-primary" type="submit" value="Add Appt" />
  <button class="button is-light" type="button" onclick="location.href='/client/appts?client_id={{client.id}}'">Cancel</button>
  </form>

{% endblock %}
