<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
<div class="content">

  <h1 class="title">Change Password: </h1>
  <h3 class="subtitle">{{ user.first_name }} {{ user.last_name }}</h3>
  <form class="form" action="/password?user_id={{user.id}}" method="post" name="user_profile">
    {{ form.hidden_tag() }}
    <div class='field is-horizontal'>
      <div class="field-label">
        <label class="label">Password:</label>
      </div>
      <div class="field-body">
        <div class="field">
         <p class="control">
           {{ form.password }}
         </p>
       </div>
     </div>
   </div>
    <div class='field is-horizontal'>
      <div class="field-label">
        <label class="label">Confirm Password:</label>
      </div>
      <div class="field-body">
        <div class="field">
         <p class="control">
           {{ form.confirm }}
         </p>
       </div>
     </div>
   </div>
    <input type="submit" class="button is-primary is-small" value="Change Password" />
    <button type="button" class="button is-light is-small" onclick="location.href='/user/profile?user_id={{user.id}}'">Cancel</button>
  </form>
</div>
{% endblock %}
