<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
  <h1>Change Password For: </h1>
  <h3>{{ user.first_name }} {{ user.last_name }}</h3>
  <form action="/password?user_id={{user.id}}" method="post" name="user_profile">
    {{ form.hidden_tag() }}
    <table>
    <tr><td>Password:</td><td>{{ form.password }}</td></tr>
    <tr><td>Confirm Password:</td><td>{{ form.confirm }}</td></tr>
    </table>
    <input type="submit" value="Change Password" />
  </form>
  <button onclick="location.href='/user/profile?user_id={{user.id}}'">Cancel</button>
  </br>
{% endblock %}
