<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
  <h1 class="title is-2">{{team.team_name}}</h1>
  <h1 class="title is-4">{{team.regional_center.name}}</h1>
  <form class="form" action="{{url_for('regional_center_team', rc_team_id=team.id, center_id=team.regional_center.id)}}" method="post" name="rc_team">
    {{ form.hidden_tag() }}
    <div class='field is-horizontal'>
      <div class="field-label">
        <label class="label">Team Name:</label>
      </div>
      <div class="field-body">
        <div class="field">
         <p class="control">
           {{ form.team_name }}
         </p>
       </div>
     </div>
   </div>
    <div class='field is-horizontal'>
      <div class="field-label">
        <label class="label">Manager First Name:</label>
      </div>
      <div class="field-body">
        <div class="field">
         <p class="control">
           {{ form.first_name }}
         </p>
       </div>
     </div>
   </div>
    <div class='field is-horizontal'>
      <div class="field-label">
        <label class="label">Manager Last Name:</label>
      </div>
      <div class="field-body">
        <div class="field">
         <p class="control">
           {{ form.last_name }}
         </p>
       </div>
     </div>
   </div>
    <div class='field is-horizontal'>
      <div class="field-label">
        <label class="label">Manager Email:</label>
      </div>
      <div class="field-body">
        <div class="field">
         <p class="control">
           {{ form.email }}
         </p>
       </div>
     </div>
   </div>
    <div class='field is-horizontal'>
      <div class="field-label">
        <label class="label">Manager Phone:</label>
      </div>
      <div class="field-body">
        <div class="field">
         <p class="control">
           {{ form.phone }}
         </p>
       </div>
     </div>
   </div>

      <input class="button is-primary"  type="submit" value="Submit" />
      <a class="button button is-light" href="{{url_for('regional_center_teams', center_id=team.regional_center.id)}}">Cancel</a>
  </form>
  <br>
  {% if team.team_name != 'New Team' %}
  <hr>
  <h2 class="title is-3">Case Workers</h2>
  {% if team.case_workers.all()|length != 0%}
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th></th>
    </tr>

    {% for worker in team.case_workers.all()|sort(attribute='first_name') %}

        <tr>
          <td>{{worker.first_name}} {{worker.last_name}}</td>
          <td>{{worker.status}}</td>
          <td><a class="button is-light is-small" href="{{url_for('case_worker', case_worker_id=worker.id)}}" target="_blank">Edit Profile</a></td>
        </tr>

  
    {% endfor %}
  {% else %}
        <p class="title is-4">No Current Case Workers</p>
  {% endif %}
  </table>
  {% endif %}
{% endblock %}
