<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
<h1 class="title is-3">{{center.name}}</h1>
<h3 class="subtitle">Regional Center Information</h3>
  <form class="form" action="" method="post" name="regional_center">
    {{ form.hidden_tag() }}
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Name:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            {{ form.name }}
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Calendar Reference:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            {{ form.appt_reference_name }}
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Address:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            {{ form.address }}
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">City:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            {{ form.city }}
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">State:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            {{ form.state }}
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Zipcode:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            {{ form.zipcode }}
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Regional Center ID:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            {{ form.rc_id }}
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Contact Name:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            {{ form.primary_contact_name }}
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Contact Phone:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            {{ form.primary_contact_phone }}
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Contact Email:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            {{ form.primary_contact_email }}
          </p>
        </div>
      </div>
    </div>
    <input class="button is-primary" type="submit" value="Submit" />
    <button type="button" class="button is-light" onclick="location.href='/regional_centers'">Cancel</button>
  </form>
{% endblock %}
