<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/jquery-ui.min.css">
<script src="/static/js/jquery-ui.min.js"></script>

<script>
  $(document).ready(function() {
    $('#start_date').datepicker();
    $('#end_date').datepicker();
  })
</script>

  <h1 class="title">{{user.first_name}} {{user.last_name}}</h1>
  <h3 class="subtitle">Appts from:</h3>


<form class="form" action="" method="post">
  {{ form.hidden_tag() }}
  <div class="level">
    <div class="level-left">
      <div class="level-item">

        <div class='field is-horizontal'>
          <div class="field-label">
           <label class="label">Start:</label>
          </div>
          <div class="field-body">
           <div class="field">
              <p class="control">
                {{form.start_date(id="start_date", value=start_date.strftime('%m/%d/%Y'))}}
              </p>
           </div>
          </div>
        </div>
      </div>
      <div class="level-item">
        <div class='field is-horizontal'>
          <div class="field-label">
           <label class="label">End:</label>
          </div>
          <div class="field-body">
           <div class="field">
              <p class="control">
                {{form.end_date(id="end_date", value=end_date.strftime('%m/%d/%Y'))}}
              </p>
           </div>
          </div>
        </div>
      </div>
      <div class="level-item">
        <div class="field is-grouped-right">
          <input class="button is-small is-primary" type="submit" value="Get Appts" />
          <button type="button" class="button is-light is-small" onclick="location.href='/clients'">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>
 <table class="table">
   <tr>
     <th>Type</th>
     <th>Appts</th>
     <th class="is-hidden-touch">Billed</th>
     <th>Total</th>
   </tr>
     <tr>
       <td>Private</td>
       <td style="text-align:center">{{appts['Private']['appts']}}</td>
       <td class="is-hidden-touch" style="text-align:center">{{appts['Private']['appts'] * appts['Private']['multiplier']}}</td>
       <td>${{'%0.2f' | format(appts['Private']['appts'] * appts['Private']['multiplier'] * 40.00|float)}}</td>
     </tr>
     <tr>
       <td>Treatment</td>
       <td style="text-align:center">{{appts['treatment']['appts']}}</td>
       <td class="is-hidden-touch" style="text-align:center">{{appts['treatment']['appts'] * appts['treatment']['multiplier']}}</td>
       <td>${{'%0.2f' | format(appts['treatment']['appts'] * appts['treatment']['multiplier'] * 40.00|float)}}</td>
     </tr>
     <tr>
       <td>Evaluation</td>
       <td style="text-align:center">{{appts['evaluation']['appts']}}</td>
       <td class="is-hidden-touch" style="text-align:center">{{appts['evaluation']['appts'] * appts['evaluation']['multiplier']}}</td>
       <td>${{'%0.2f' | format(appts['evaluation']['appts'] * appts['evaluation']['multiplier'] * 40.00|float)}}</td>
     </tr>
     <tr>
       <td><strong>Total</strong></td>
       <td style="text-align:center"><strong>{{appts['evaluation']['appts'] + appts['Private']['appts'] + appts['treatment']['appts']}}</strong></td>
       <td class="is-hidden-touch" style="text-align:center"><strong>{{appts['evaluation']['appts'] * appts['evaluation']['multiplier'] +
       appts['treatment']['appts'] * appts['treatment']['multiplier'] +
       appts['Private']['appts'] * appts['Private']['multiplier']}}</strong></td>
       <td><strong>${{'%0.2f' | format(((appts['evaluation']['appts'] * appts['evaluation']['multiplier'] +
       appts['treatment']['appts'] * appts['treatment']['multiplier'] +
       appts['Private']['appts'] * appts['Private']['multiplier']) * 40.00)|float)}}</strong></td>
     </tr>
   </table>

   <table class="table">
     <tr>
       <th>Miles</th>
       <th>Reimbursement</th>
     </tr>
     <tr>
       <td style="text-align:center;">
         {{appts['mileage']['miles']}}
       </td>
       <td style="text-align:center;">
         ${{'%0.2f'|format((appts['mileage']['miles'] * appts['mileage']['rate'])|float)}}
       </td>
     </tr>
   </table>


{% endblock %}
