<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
  <h1 class="title is-3">{{ user.first_name }} {{ user.last_name }}</h1>
  <h3 class="subtitle">User Information</h3>
  <form class="form" action="/user/profile?user_id={{user.id}}" method="post" name="user_profile">
    {{ form.hidden_tag() }}
    <div class='field is-horizontal'>
      <div class="field-label">
        <label class="label">First Name:</label>
      </div>
      <div class="field-body">
        <div class="field">
         <p class="control">
           {{ form.first_name }}
         </p>
       </div>
     </div>
   </div>
    <div class='field is-horizontal'>
      <div class="field-label">
        <label class="label">Last Name:</label>
      </div>
      <div class="field-body">
        <div class="field">
         <p class="control">
           {{ form.last_name }}
         </p>
       </div>
     </div>
   </div>
   <div class='field is-horizontal'>
     <div class="field-label">
       <label class="label">Email:</label>
     </div>
     <div class="field-body">
       <div class="field">
        <p class="control">
          {{ form.email }}
        </p>
      </div>
    </div>
  </div>
  {% if current_user.role_id <= 3 %}
  <div class='field is-horizontal'>
    <div class="field-label">
      <label class="label">Is Therapist?</label>
    </div>
    <div class="field-body">
      <div class="field">
         {{ form.calendar_access }}
     </div>
   </div>
 </div>
    {% if user.role_id %}
    <div class='field is-horizontal'>
      <div class="field-label">
        <label class="label">User Role:</label>
      </div>
      <div class="field-body">
        <div class="select is-small">
           {{ form.role_id }}
       </div>
     </div>
   </div>
    {% endif %}
  {% endif %}
  {% if user.role_id == 4 and current_user.role_id <= 3 %}
  <div class='field is-horizontal'>
    <div class="field-label">
      <label class="label">Therapist:</label>
    </div>
    <div class="field-body">
      <div class="select is-small">
        {{ form.therapist_id }}
      </div>
    </div>
  </div>
  {% endif %}
  {% if user.therapist %}
    <div class='field'>
        {{ form.signature(class="textarea", placeholder="Therapist Report Signature:", rows='5%', cols='10%') }}
    </div>
  {% endif %}

    <input type="submit" class="button is-primary is-small" value="Submit" />
    <button type="button" class="button is-light is-small" onclick="location.href='/users?company_id={{user.company_id}}'">Cancel</button>
    <button type="button" class="button is-info is-small" onclick="location.href='/password?user_id={{user.id}}'">Change Password</button>
  </form>
{% endblock %}
