<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
<h3>Current Users</h3>
<table>
  {% for user in users %}
    <tr>
      <td>
        <a href='/user/profile?user_id={{user.id}}'> {{user.last_name}}, {{user.first_name}} </a>
      </td>
      {% if user.calendar_access %}
      <td>Therapist</td>
      {% else %}
      <td></td>
      {% endif %}
      {% if user.calendar_access %}
      <td><button onclick="location.href='/user/appts?user_id={{user.id}}'">See Payments</button></td>
      {% else %}
      <td></td>
      {% endif %}
      <td>
          <button onclick="location.href='/user/delete?user_id={{user.id}}'">Delete User</button>
      </td>
    </tr>
  {% endfor %}
    </table>
    <br />
  <button onclick="location.href='/user/new?company_id={{company_id}}'">New User</button>

{% endblock %}
