{%extends "base.html" %} {% block content %}

<script src="/static/js/jquery-ui.min.js"></script>

<script>
  $(document).ready(function() {

    $('#accordion').accordion({
      collapsible: true,
      animate: 100
    });

    $('.ui-accordion-header-active > button').removeClass('is-outlined').addClass('is-primary');

    $('.button').on('click', function() {

      if ($(this).hasClass('is-primary')) {
        $(this).addClass('is-outlined').removeClass('is-primary');
      } else {
        $('.button').addClass('is-outlined').removeClass('is-primary');
        $(this).removeClass('is-outlined').addClass('is-primary');
      };
    });
  })
</script>


  <h1 class="title is-1">Hello {{ user.first_name }}!</h1>
  {% if new_auths|length == 0 and assigned_notes|length == 0 and approval_notes|length == 0 and old_auths|length == 0 and notes|length == 0 and clients|length == 0 and reports|length == 0 and appts_needed|length == 0 %}
    <h2 class="title is-2">You have done all your work!</h2>
    <h3 class="subtitle is-3"><a href="https://www.google.com/search?q=bars+near+me&oq=bars+near+me" target="blank">Go have a beer!!</a></h3>
  {% else %}
  <h3 class="title is-3">Your to-dos:</h3>
  <div class="columns">
    <div class="column is-half" style="max-width:400">
      <div id="accordion">
    {% if notes|length != 0 %}
    <div>
      <button type="button"class="button is-outlined is-fullwidth" >
        <span>Appts Needing Notes:</span>
        <span class="icon">
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </span>
      </div>
      <span>
        <br />
        {% for appt in notes %}
        <a href="/client/note?appt_id={{appt['id']}}">{{ appt['first_name'] }} {{ appt['last_name'] }}: {{ appt['start_datetime'].strftime('%b %d, %Y') }} at {{appt['start_datetime'].strftime('%-I:%M %p')}}</a><br />
        {% endfor %}
        <br />
      </span>
      {% endif %}
      {% if approval_notes|length != 0 or assigned_notes|length != 0%}
      <div>
          <button type="button"class="button is-outlined is-fullwidth" >
            <span>Notes Needing Approval:</span>
            <span class="icon">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
      </div>
      <span>
        <br />
        {% if assigned_notes|length != 0 %}
        <h5 class="subtitle is-6">Assigned:</h5>
          {% for note in assigned_notes %}
            <a href="/client/note?appt_id={{note.appt.id}}">{{ note.intern.user.first_name }} {{ note.intern.user.last_name }} - {{ note.appt.client.first_name }} {{ note.appt.client.last_name }}: {{ note.appt.start_datetime.strftime('%b %d, %Y') }}</a><br />
          {% endfor %}
          <br />
        {% endif %}
        {% if approval_notes|length != 0 %}
          <h5 class="subtitle is-6">Need Approval:</h5>
          {% for note in approval_notes %}
            {% if note.intern %}
              <a href="/client/note?appt_id={{note.appt.id}}">{{ note.intern.user.first_name }} {{ note.intern.user.last_name }} - {{ note.appt.client.first_name }} {{ note.appt.client.last_name }}: {{ note.appt.start_datetime.strftime('%b %d, %Y') }}</a><br />
            {% else %}
              <a href="/client/note?appt_id={{note.appt.id}}">{{ note.user.first_name }} {{ note.user.last_name }} - {{ note.appt.client.first_name }} {{ note.appt.client.last_name }}: {{ note.appt.start_datetime.strftime('%b %d, %Y') }}</a><br />
            {% endif %}
          {% endfor %}
        {% endif %}
        <br />
      </span>
      {% endif %}
      {% if clients|length != 0 %}
      <div>
          <button type="button"class="button is-outlined is-fullwidth" >
            <span>Clients Needing Info:</span>
            <span class="icon">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
      </div>
      <span>
      <br />
      {% for client in clients %}
      <a href="/client/profile?client_id={{client.id}}">{{ client.first_name }} {{ client.last_name }}</a><br />
      {% endfor %}
      <br />
    </span>
    {% endif %}
      {% if appts_needed|length != 0 %}
      <div>
          <button type="button"class="button is-outlined is-fullwidth" >
            <span>Appts To Schedule:</span>
            <span class="icon">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
      </div>
      <span>
      <br />
      {% for client in appts_needed %}
      <a href="/client/new/appt?client_id={{client.id}}">{{ client.first_name }} {{ client.last_name }}</a><br />
      {% endfor %}
      <br />
    </span>
    {% endif %}
    {% if reports|length != 0 %}
    <div>
        <button type="button"class="button is-outlined is-fullwidth" >
          <span>Evals that Need Reports:</span>
          <span class="icon">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </span>
    </div>
    <span>
      <br />
      <br />
    </span>
    {% endif %}
    {% if old_auths|length != 0 or new_auths|length != 0 %}
    <div>
      <button type="button" class="button is-outlined is-fullwidth">
        <span>Authorizations Needed:</span>
        <span class="icon">
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </span>
    </div>
    <span>
      <br />
      {% if new_auths|length != 0 %}
      <h5 class="subtitle is-6">New Authorizations:</h5>
      {% for client in new_auths %}
      <a href="/client/auths?client_id={{client.id}}">{{client.first_name}} {{client.last_name}}</a><br /> {% endfor %} {% endif %}
      <br /> {% if old_auths|length != 0 %}
      <h5 class="subtitle is-6">Authorization Renewals:</h5>
      {% for auth in old_auths %}
      <a href="/client/auths?client_id={{auth.client.id}}">{{auth.client.first_name}} {{auth.client.last_name}} ended: {{auth.auth_end_date.strftime('%b %d, %Y')}}</a><br /> {% endfor %} {% endif %}
      <br />
    </span>
    {% endif %}
     {% endif %}
  </div>
</div>
  </div>
{% endblock %}
