<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/jquery-ui.min.css">
<script src="/static/js/jquery-ui.min.js"></script>

<script>
  $(document).ready(function() {
    $('#start_date').datepicker();
    $('#end_date').datepicker();

    var appts = {{appts|tojson|safe}}

    $(".appts-row").on("click", function(){
      var date = $(this).attr("id")
      var daily_appts = appts[date]
      console.log(daily_appts)

      var types = ['private', 'treatment', 'evaluation']

      $(".modal-content").append('<div class="box"></div>')

      for(var i = 0; i < 3; i++){
        var title = '<h3 class="title is-4 is-capitalized">' + types[i] + 's'+ '</h3>'
        var table_len = daily_appts[types[i]].length
        if(table_len > 0){
          var table = '<table class="table"><tr><th>Date</th><th>Name</th><th>Miles</th></tr>'
          for(var j = 0; j<table_len; j++){
            table += '<tr>' + '<td>' + daily_appts[types[i]][j]['date'] + '</td>'+ '<td>' + daily_appts[types[i]][j]['name'] + '</td>'+ '<td>' + daily_appts[types[i]][j]['mileage'] + '</td>'+'</tr>'
          }
          table += '</table>'
          $(".box").append(title)
          $(".box").append(table)
        }
      }
      $(".modal").addClass('is-active')

    })

    $(".modal").on("click", function(){
      $('.box').remove()
      $(".modal").removeClass("is-active");
    });
  })
</script>

<div class="content">
  <div id="popup" class="modal">
  <div class="modal-background"></div>
    <div class="modal-content">
    </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

  <h1 class="title">{{user.first_name}} {{user.last_name}}</h1>
  <h3 class="subtitle">Appts from:</h3>


<form class="form" action="" method="post">
  {{ form.hidden_tag() }}
  <div class="level">
    <div class="level-left">
      <div class="level-item">

        <div class='field is-horizontal'>
          <div class="field-label">
           <label class="label">Start:</label>
          </div>
          <div class="field-body">
           <div class="field">
              <p class="control">
                {{form.start_date(id="start_date", value=start_date.strftime('%m/%d/%Y'))}}
              </p>
           </div>
          </div>
        </div>
      </div>
      <div class="level-item">
        <div class='field is-horizontal'>
          <div class="field-label">
           <label class="label">End:</label>
          </div>
          <div class="field-body">
           <div class="field">
              <p class="control">
                {{form.end_date(id="end_date", value=end_date.strftime('%m/%d/%Y'))}}
              </p>
           </div>
          </div>
        </div>
      </div>
      <div class="level-item">
        <div class="field is-grouped-right">
          <input class="button is-small is-primary" type="submit" value="Get Appts" />
          <button type="button" class="button is-light is-small" onclick="location.href='/clients'">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% if appts['appt_dates']|length > 0 %}
 <table class="table">
   <tr>
     <th>Date</th>
     <th class="is-hidden-touch">Privates (x{{appts['private']['multiplier']}})</th>
     <th class="is-hidden-touch">Treatments (x{{appts['treatment']['multiplier']}})</th>
     <th class="is-hidden-touch">Evaluations (x{{appts['evaluation']['multiplier']}})</th>
     <th class="is-hidden-touch">Billed</th>
     <th>Appt Total</th>
     <th class="is-hidden-touch">Miles</th>
     <th>Mileage</th>
   </tr>
   {% for date in appts['appt_dates'] %}
     <tr class="appts-row" id={{date}}>
       <td>{{date}}</td>
       <td class="is-hidden-touch" style="text-align:center">{{appts[date]['private']|length}}</td>
       <td class="is-hidden-touch" style="text-align:center">{{appts[date]['treatment']|length}}</td>
       <td class="is-hidden-touch" style="text-align:center">{{appts[date]['evaluation']|length}}</td>
       <td class="is-hidden-touch" style="text-align:center">{{appts[date]['private']|length * appts['private']['multiplier'] + appts[date]['treatment']|length * appts['treatment']['multiplier'] + appts[date]['evaluation']|length * appts['evaluation']['multiplier']}}</td>
       <td>${{'%0.2f' | format((appts[date]['private']|length * appts['private']['multiplier'] * rates['private']) + (appts[date]['treatment']|length * appts['treatment']['multiplier'] * rates['treatment']) + (appts[date]['evaluation']|length * appts['evaluation']['multiplier'] * rates['evaluation'])|float)}}</td>
       <td class="is-hidden-touch" style="text-align:center">{{appts[date]['mileage']}}</td>
       <td>${{'%0.2f' | format((appts[date]['mileage'] * appts['mileage']['multiplier'] * rates['mileage']) |float)}}</td>
     </tr>
     {% endfor %}
     <tr>
       <td><strong>Total</strong></td>
       <td class="is-hidden-touch" style="text-align:center"><strong>{{appts['private']['appts']}}</strong></td>
       <td class="is-hidden-touch" style="text-align:center"><strong>{{appts['treatment']['appts']}}</strong></td>
       <td class="is-hidden-touch" style="text-align:center"><strong>{{appts['evaluation']['appts']}}</strong></td>
       <td class="is-hidden-touch" style="text-align:center"><strong>{{appts['evaluation']['appts'] * appts['evaluation']['multiplier'] +
       appts['treatment']['appts'] * appts['treatment']['multiplier'] +
       appts['private']['appts'] * appts['private']['multiplier']}}</strong></td>
       <td><strong>${{'%0.2f' | format((appts['evaluation']['appts'] * appts['evaluation']['multiplier'] * rates['evaluation'] +
       appts['treatment']['appts'] * appts['treatment']['multiplier'] * rates['treatment'] + appts['private']['appts'] * appts['private']['multiplier'] * rates['private'])|float)}}</strong></td>
       <td class="is-hidden-touch" style="text-align:center"><strong>{{appts['mileage']['miles']}}</strong></td>
       <td><strong>${{'%0.2f' | format(appts['mileage']['miles'] * appts['mileage']['multiplier'] * rates['mileage']|float)}}</strong></td>
     </tr>
   </table>
   {% else %}
    <h3 class="title">No Appts!</h3>
    <h3 class="subtitle">Get to work!!</h3>
  {% endif %}
</div>
{% endblock %}
