<!-- from base layout -->

{% extends 'base.html' %}

{% block content %}
  <h1>User Information: </h1>
  <h3>{{ user.first_name }} {{ user.last_name }}</h3>
  <form action="/user/profile?user_id={{user.id}}" method="post" name="user_profile">
    {{ form.hidden_tag() }}
    <table>
    <tr><td>First Name:</td><td>{{ form.first_name }}</td></tr>
    <tr><td>Last Name:</td><td>{{ form.last_name }}</td></tr>
    <tr><td>Email:</td><td>{{ form.email }}</td></tr>
    {% if user.role_id <= 3 %}
      <tr><td>Is a Therapist?</td><td>{{ form.calendar_access }}</td></tr>
      {% if user.role_id %}
        <tr><td>User Role:</td><td>{{ form.role_id }}</td></tr>
      {% endif %}
    {% endif %}
    {% if user.role_id == 4 and current_user.role_id <= 3 %}
      <tr><td>Therapist:</td><td>{{ form.therapist_id}}</td></tr>
    {% endif %}
    </table>
    <input type="submit" value="Submit" />
  </form>
  <button onclick="location.href='/users?company_id={{user.company_id}}'">Cancel</button>
  <button onclick="location.href='/password?user_id={{user.id}}'">Change Password</button>
  </br>
{% endblock %}
